body {
  font-style: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

small {
  font-weight: 200;
}

h6 {
  font-size: 15px;
  text-align: center;
  margin-top: 5px;
}
h3 {
  font-size: 20px;
  font-weight: 150;
}
small {
  margin-left: 35px;
}

.city-name {
  font-size: 50px;
  font-weight: 200;
}
.current-location-button {
  font-size: 20px;
  color: #3f3f3f;
  background-color: #9cb9d167;
  border: none;
  border-radius: 20px;
  padding: 3px 10px;
  box-shadow: 3px 5px 5px rgba(128, 128, 128, 0.15);
  transition: all 25 0ms ease-in-out;
  margin-left: -15px;
}

.current-location-button:hover {
  background-color: #9cb9d167;
  border: none;
  color: #ec6e4c;
}

.weather-app {
  padding: 15px 10px 10px 10px;
  margin: 20px;
  max-width: 650px;
  border-radius: 10px;
}
.weather-app-main {
  border: none;
  padding: 15px;
  margin: 15px 0px 5px 0px;
  border-radius: 8px;
  background-color: #9cb9d167;
}
.temp {
  font-size: 60px;
  font-weight: 100;
}

.search-bar {
  margin: 0 auto;
  display: block;
  max-width: 60%;
}

.search-icon {
  color: #3f3f3f;
  font-size: 20px;
}

.search-icon:hover {
  color: #ec6e4c;
}

.city-info {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.weather-text {
  margin: 0px;
  padding: 0px;
}

.weather-units {
  position: relative;
  top: -32px;
  font-weight: 200;
}
.disabled {
  pointer-events: none;
  cursor: default;
  color: #949494;
}
.weather-unit {
  text-decoration: none;
}
.weather-unit:hover {
  color: #ec6e4c;
}

.weather-forecast {
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
}

.mini-weather-col {
  border: none;
  padding: 15px 0px;
  margin: 3px;
  border-radius: 8px;
  font-weight: 200;
  background-color: #9cb9d167;
}

.mini-weather-col:hover {
  background-color: #ec6f4c60;
  font-weight: 300;
}

.attributes {
  list-style: none;
  margin-top: 130px;
  margin-left: 30px;
}

.attributes-text {
  font-size: 17px;
  text-align: right;
  margin: 0px;
  font-weight: 300;
  text-align: left;
}
.attributes-value {
  font-weight: 100;
}
.search-icon {
  border: none;
  outline: none;
}
.search-icon:active {
  outline: none;
  border: none;
}

#city-text {
  text-transform: capitalize;
}

.weather-icon {
  float: left;
  margin-top: -15px;
}

.weather-forecast-max-temp {
  margin-right: 10px;
}

.weather-forecast-min-temp {
  opacity: 0.5;
}

.weather-forecast-icon {
  margin-top: -20px;
}

.weather-forecast-temp {
  margin-top: -10px;
  text-align: center;
}

.forecast-day {
  text-align: center;
}
